$prefix: 'magnet-table';
.#{$prefix} {
 width: calc(100% - 170px);
 height: 100%;
 overflow: auto;

 .ant-table-wrapper {
   padding-bottom: 100px;
   .ant-space {
    display: flex;
    flex-wrap: wrap;
   }
 }

}
