$prefix: 'source-list';

.#{$prefix} {
  width: 170px;
  margin-bottom: 70px;
  overflow: auto;
  .#{$prefix}-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: background-color 0.5s;

    // justify-content: center;

    .#{$prefix}-img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .#{$prefix}-name {
      font-weight: 500;
    }
  }
  .#{$prefix}-item.active-rule{
    background-color: #eff2fd;
  }
}
